:root {
    --background-color: #363636;
    --highlight-color: #d8833e;
    --accent-color: #c0c0c0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Styling */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--background-color);
}

header h1 {
    margin: 8px 0px 12px 0px;
    padding: 7px 7px 7px 40px;
    color: var(--background-color);
    background-color: var(--highlight-color);
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: var(--highlight-color)
}

header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav ul {
    margin: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    margin: 4px;
    padding: 5px 4px;
    font-weight: lighter;
    font-size: 1.85vw;
    border-bottom: 3px solid var(--highlight-color);
}

/* Banner Styling */

.banner {
    background-image: url('../images/banner-background.jpg');
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner h1 {
    color: var(--background-color);
    position: absolute;
    bottom: 0px;
    right: 50px;
    bottom: 15px;
    padding: 5px;
    background-color: var(--highlight-color);
}